/* line 17, ../../app/assets/stylesheets/layout.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 21, ../../app/assets/stylesheets/layout.sass */
a {
  text-decoration: none;
  color: #486e92;
}

/* line 26, ../../app/assets/stylesheets/layout.sass */
form li {
  padding-left: 105px;
  list-style-type: none;
}
/* line 29, ../../app/assets/stylesheets/layout.sass */
form li label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 4px 5px 0 -105px;
}
/* line 34, ../../app/assets/stylesheets/layout.sass */
form div#flash_plus_button {
  padding-left: 300px;
  margin-top: 10px;
  background: #486e92;
}
/* line 38, ../../app/assets/stylesheets/layout.sass */
form div#flash_plus_button div.flash {
  margin: 12px 0 0 -290px;
  float: left;
  color: white;
}
/* line 42, ../../app/assets/stylesheets/layout.sass */
form div#flash_plus_button input {
  margin: 10px 0 5px 0;
}

/* line 45, ../../app/assets/stylesheets/layout.sass */
div#contents_container {
  margin: 90px auto 0 auto;
  width: 400px;
}
/* line 48, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#main_container {
  background: #486e92;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 51, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#main_container div#user_nav {
  font-size: 14px;
  height: 24px;
  margin-left: 10px;
  padding-top: 5px;
}
/* line 56, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#main_container div#user_nav a {
  color: white;
}
/* line 58, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#main_container div#main {
  width: 380px;
  margin: 0 auto;
  background: white;
  border: 1px solid #2c4153;
  padding: 0;
}
/* line 64, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#main_container div#main h1 {
  font-size: 18px;
  margin: 15px 0 10px 10px;
  font-weight: bold;
}
/* line 68, ../../app/assets/stylesheets/layout.sass */
div#contents_container div#footer {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}
