<div id="msg">
  <%= mess(:your_procmailrc_was_not_generated_by_us) %>
</div>

<div id="error">
  <%= @error %><br />
</div>

<div id="msg">
  <%= mess(:inform_fir) %>
</div>

<%= form_tag update_multiple_forward_filters_path, :method => :put do %>
  <div id="flash_plus_button">
  </div>
<% end %>
